body {padding-top: 0px;font-family: 'Open Sans', sans-serif; color: #333; background: #fafafa;}
.navbar {border-radius: 0px; border-right: 0px none; border-left: 0px none; border-top: 0px none; margin-bottom: 0px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.navbar-default, .navbar-default .navbar-collapse {border-color: #333;}
.navbar-default .navbar-brand {font-size: 38px;position: relative; color: #fff; background: #333;text-transform: uppercase; padding: 15px 0 15px 15px; font-weight: 800;letter-spacing: -0.8px;}
.navbar-default .navbar-brand span { margin-left: 5px;}
.navbar-default .navbar-brand:hover {background: #333; color: #f1f1f1;}
.navbar-brand {height: auto; line-height:38px;}
.navbar-brand:before {position: absolute;background-color: #333;left: -3000px;bottom: 0;top: 0;content: '';width: 3000px;}
.navbar-brand:after {position: absolute;content: '';width: 0;height: 0;border-style: solid;border-width: 68px 0 0 68px;border-color: transparent transparent transparent #333;right: -67px;top: 0px;z-index: 1000;}
.navbar-toggle {margin-top: 17px;}
.first-section h2, .second-section h3, .third-section h3, .fourth-section h4, .fourth-section h3{padding: 15px 0; margin: 0; font-weight: 700; font-size: 38px; text-transform: uppercase;}
.second-section h3, .third-section h3, .fourth-section h3 {font-size: 28px; font-weight: 600;}
.fourth-section h4 {font-size: 24px; font-weight: 400;}
.first-section p, .second-section p {padding: 15px 0; font-weight: 400; font-size: 16px;}
.title-specs {border: 1px solid #333; padding: 15px 15px; border-radius: 100px;display: inline-block; font-size: 14px;  width: 140px; height: 140px;background: #f5f5f5;display: flex; align-items: center;justify-content: center;margin: 15px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);}
.title-specs i {display: block;margin-bottom: 5px;font-size: 38px;}
.title-specs a {color: #333; text-decoration: none; font-weight: 600; text-transform: uppercase;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
section.portfolio, footer {background: #333 url(../img/pat2.png); color: #fafafa;}
#services, #about {background: url(../img/pat1.png);}
body.scroll {padding-top: 69px;}
.logo-second {color: #919191;}
.title-specs a:hover {color: #656565;}
#back-top, .navbar-fixed-top {-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
#back-top{position:fixed;visibility:hidden;margin:0 20px 20px 0;right:0;bottom:-100px;overflow:hidden;z-index:99;}
#back-top a {background:#000;}
#back-top a:hover{background:#28312b;}
#back-top a{display:block;border-radius:50%;width:50px;height:50px;text-align:center;text-decoration:none;color:#fff;}
#back-top a:before{content:'\f077';font:25px/50px 'FontAwesome';}
#back-top.show-totop{visibility:visible;bottom:0;}
.navbar-fixed-top {top: 0px;}
#back-top.mobile-back-top{-webkit-transform:scale(.7);-ms-transform:scale(.7);-o-transform:scale(.7);transform:scale(.7);margin:0 2px 1px 0;}
#about, #portfolio, #services {padding-top: 69px;padding-bottom: 69px;}
.portfolio #filters {padding: 15px 0;}
.portfolio h3 {font-size: 28px;font-weight: 600; text-transform: uppercase;}
#contact {padding: 30px 0;}
#contact .social ul {list-style: none; text-align: center;}
#contact .social ul li {display: inline-block; margin: 0 10px;}
#contact .social ul li a {font-size: 20px; color: #fff;}
.isotope, .isotope .item {-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-ms-transition-duration: 0.8s;-o-transition-duration: 0.8s;transition-duration: 0.8s;}
.isotope {-webkit-transition-property: height, width;-moz-transition-property: height, width;-ms-transition-property: height, width;-o-transition-property: height, width;transition-property: height, width;}
.isotope .item {-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:top, left, opacity;transition-property:transform, opacity;}
.isotopeHolder  {left: -15px;}
.col-sm-3.isotope-item {margin-top: 15px;}
img.button {cursor: pointer;}
.modal-title {font-size: 20px;text-transform: uppercase;font-weight: 600;}
.videoWrapper {position: relative;padding-bottom: 56.25%;padding-top: 25px;height: 0;}
.videoWrapper iframe, .videoWrapper video {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
@media (min-width: 768px){
.navbar-nav>li>a {padding-top: 24px;padding-bottom: 24px;}
}
@media (max-width: 400px){
.navbar-default .navbar-brand {font-size: 30px;}
.navbar-default .navbar-toggle {z-index: 1993;background: #fff;}
}